:root {
    
    /* färger */
    --black: #222;
    --white: #fafafa;

}

* {
    box-sizing: border-box;
    border: 1px solid hotpink;
}

html {
    font-size: 62.5%;
    min-width: 375px;
}

body {
    background: var(--white);
    color: var(--black);
    font: 16px 'tiny5', verdana;
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul#menu-list {
        position: fixed;
        width: 100%;
        bottom: 0;
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 12.8rem;
            aspect-ratio: 1;
            flex-shrink: 0;
            background: red;
            scroll-snap-align: start;

            img {
                display: block;
            }
        }

    }

}

main {

}

#pokedex {
    display: flex;
    justify-content: center;
    padding-bottom: 12.8rem;

    .pokemon-data {  
        padding: 3.2rem;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 5px solid red;

        &.normal {
            background-color: lightgray;
        }
        &.water {
            background-color: lightskyblue;
        }
        &.ice {
            background-color: rgb(156, 209, 217);
        }
        &.fire {
            background-color: lightsalmon;
        }
        &.grass {
            background-color: rgb(173, 231, 164);
        }
        &.bug {
            background-color: rgb(137, 204, 127);
        }
        &.electric {
            background-color: lightgoldenrodyellow;
        }
        &.psychic {
            background-color: rgb(174, 173, 230);
        }
        &.ghost {
            background-color: rgb(179, 173, 230);
        }
        &.poison {
            background-color: rgb(204, 173, 230);
        }
        &.fairy {
            background-color: rgb(255, 208, 239);
        }
        &.dragon {
            background-color: rgb(225, 236, 255);
        }
        &.fighting {
            background-color: rgb(171, 100, 74);
        }
        &.ground {
            background-color: rgb(196, 168, 158);
        }
        &.rock {
            background-color: rgb(174, 173, 173);
        }

        h2 {
            text-transform: uppercase;
        }

        button {
            border: none;
            height: 4.8rem;
            padding-left: 4.8rem;
            background: url(img/sound.svg) no-repeat;
        }

        .stats {
            align-self: stretch;
            padding: 0;
            margin: 0;
            
            div {
                display: grid;
                grid-template-columns: 2fr 4fr 1fr;

                p:first-child {
                    text-transform: uppercase;
                }
                p:last-child {
                    text-align: right;
                }
                p.stat-bar {
                    background-color: red;
                    max-width: 100%;
                }
            }
        }
    }
}