@font-face {
    font-family: 'Ketchum';
    src: url('fonts/Ketchum.otf');
}

:root {
    
    /* basfärger */
    --black: #222;
    --white: #fff;
    --white-70: rgba(255, 255, 255, .7);
    --white-50: rgba(255, 255, 255, .5);
    --light-grey: #d3d3d3;
    --dark-grey: #868686;
    --red: #d50000;
    --pink: #ffecec;

    /* pokémontyp-färger */
    --normal: #ebeade;
    --water: #afe4fe;
    --ice: #b9f9ff;
    --fire: #ffc38b;
    --grass: #ace986;
    --bug: #8ed993;
    --electric: #fdf1c5;
    --ghost: #b4b3ff;
    --psychic: #dcd9ff;
    --poison: #ccade6;
    --fairy: #ffd0ef;
    --dragon: #e1ecff;
    --fighting: #e17e71;
    --ground: #d6b8a5;
    --rock: #cecece;

    /* stats-färger */
    --hp: #4f884f;
    --attack: #d65454;
    --defense: #358ffc;
    --speed: #fdda79;
    --xp: #555555;

    /* mått */
    --gap: 1.6rem;
    --padding: 2.4rem;

    @media screen and (min-width: 769px) {
        --gap: 2.4rem;
        --padding: 4.8rem;
    }

}

* {
    box-sizing: border-box;
    border: 0px solid hotpink;
}

html {
    font-size: 62.5%;
    min-width: 375px;
}

body {
    background: var(--white);
    color: var(--black);
    font: 14px 'roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

#bg-img {
    position: fixed;
    top: 0; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .05;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

@keyframes button {
    0%, 100% {
        transform: scale(1);
    }
    10%, 60% {
        transform: scale(.95);
    }
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
    margin-bottom: -6.4rem;
    background: var(--red);
    background: 
    linear-gradient(180deg, 
    var(--red) 44%, 
    var(--black) 44%, 
    var(--black) 53%, 
    var(--white-70) 53%, 
    transparent);

    @media screen and (min-width: 1024px) {
        width: 20vw;
        height: 100vh;
        position: fixed;
        box-shadow: 0rem 0 2rem var(--grey);
        background: 
        linear-gradient(180deg, 
        var(--red) 46%, 
        var(--black) 46%, 
        var(--black) 51%, 
        var(--white-50) 0%);
    }

    h1 {
        font: bold 4rem 'ketchum';
        color: var(--white);
        text-shadow: .1rem .1rem 0rem var(--black);
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;

        label, input, button {
            cursor: pointer;
            opacity: 1;
            transition: .1s all;
        }
        label {
            order: 1;
            line-height: 2.4rem;
            display: inline-block;
        }
        /* input {
            display: none;
        } */
        input:checked + span {
            font-weight: bold;
        }
        .hidden {
            opacity: 0;
        }
    
        button {
            position: relative;
            display: block;
            width: 12.8rem;
            height: 12.8rem;
            border-radius: 50%;
            background: var(--white);
            background: 
            radial-gradient(circle, 
            var(--white) 50%, 
            var(--dark-grey) 100%);
            border: 2rem solid var(--black);
            margin: 2rem 0;
            animation: button 1s;
            animation-iteration-count: 3;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--grey);
            
            @media (hover: hover) {
                &:hover { transform: scale(.95); }
            }
        }
    }
}

main {
    padding-bottom: 9.6rem; /* space for footer */

    @media screen and (min-width: 1024px) {
        width: 80vw;
        padding-top: 0rem;
        margin-left: 20vw;
    }
}

#pokedex {
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9.6rem;
        height: 9.6rem;
        padding: .4rem;
        border-radius: 1.6rem;
        background: rgb(255, 236, 236);
        flex-shrink: 0;
        scroll-snap-align: start;

        img {
            object-fit: contain;
            aspect-ratio: 1;
            display: block;
            cursor: pointer;
        }
    }
}

#pokedex-info {
    position: fixed;
    overflow: auto;
    z-index: 100;
    top: 0; left: 0;
    height: 100vh;

    .item-data { text-align: center; }

    .pokemon-data,
    .item-data {  
        min-width: 100vw;
        min-height: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: var(--white);

        button {
            position: sticky;
            top: 0;
            border: none;
            height: 4.8rem;
            padding-right: 4.8rem;
            background-position: right center;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
            
            &#sound { background-image: url(img/sound.svg); }
            &#close { 
                background-image: url(img/close.svg); 
                text-transform: uppercase;
                align-self: flex-end;
            }
        }

        hgroup {
            text-align: center;

            h2 {
                font: normal 4rem 'ketchum';
                text-transform: capitalize;
            }
        }

        img {
            max-width: 90%;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }

        .stats {
            padding: 0;
            margin: 0;
            background: var(--white);
            padding: var(--padding);
            padding-top: 13.2rem;
            margin-top: -6.8rem;
            margin-bottom: 3.2rem;
            z-index: 1;
            font-family: 'roboto condensed';
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 3.2rem;
            max-width: 64rem;
            
            div {
                width: 100%;
                max-width: 50rem;
                display: flex;
                gap: var(--gap);

                p:first-child {
                    text-transform: uppercase;
                    width: 8rem;
                    font-weight: bold;
                }
                p:last-child {
                    text-align: right;
                    width: 4rem;
                }
                .stat-bar {
                    height: 1.2rem;
                    align-self: center;
                    width: 100%;
                    border-radius: 1.2rem;
                    background: #eee;
                    /* box-shadow: 
                    inset 0 .2rem 0 var(--black),
                    inset 0 -.2rem 0 var(--black),
                    inset -.2rem 0 0 var(--black),
                    inset .2rem 0 0 var(--black); */
                    
                    div {
                        /* border: 2px solid var(--black); */
                        border-radius: 1.2rem;
                        width: 100%;
                    }
                }

                &#hp .stat-bar div {
                    background-color: rgb(79, 136, 79);
                }
                &#attack .stat-bar div {
                    background-color: rgb(214, 84, 84);
                }
                &#defense .stat-bar div {
                    background-color: rgb(53, 143, 252);
                }
                &#speed .stat-bar div {
                    background-color: rgb(253, 218, 121);
                }
                &#xp .stat-bar div {
                    background-color: rgb(85, 85, 85);
                }
            }
        }
    }
}

#pokedex-info, 
#pokedex {
    .normal { background-color: var(--normal); }
    .water { background-color: var(--water); }
    .ice { background-color: var(--ice); }
    .fire { background-color: var(--fire); }
    .grass { background-color: var(--grass); }
    .bug { background-color: var(--bug); }
    .electric { background-color: var(--electric); }
    .ghost { background-color: var(--ghost); }
    .psychic { background-color: var(--psychic); }
    .poison { background-color: var(--poison); }
    .fairy { background-color: var(--fairy); }
    .dragon { background-color: var(--dragon); }
    .fighting { background-color: var(--fighting); }
    .ground { background-color: var(--ground); }
    .rock { background-color: var(--rock); }
}

footer {
    text-align: center;
    padding: calc(var(--padding)/2) var(--padding);
    width: 100%;
    background: var(--black);
    color: var(--white);
    position: absolute;
    bottom: 0;

    @media screen and (min-width: 1024px) {
        background: transparent;
        color: var(--black);
        padding-left: 20vw;
    }
}